data/bronze/*
data/silver/*
data/gold/*
data/external/*
!data/**/.gitkeep
raw_downloads/
*.parquet
*.duckdb
*.duckdb.wal

artifacts/
mlruns/
logs/

__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.ipynb_checkpoints/

.DS_Store
Thumbs.db
.vscode/
.idea/
